*{margin:0;padding:0;border:0;outline:0;box-sizing:border-box}
::-webkit-scrollbar{width:1px;background-color:rgba(0, 0, 0, .3)}
body, html{position:relative;height:100vh;width:100vw;overflow:hidden;font-size:54px}
.app{max-width:10rem;width:100vw;height:100vh;background:white;position:relative;margin:0 auto;overflow:hidden}
.app > .err{display:none;margin:0 auto;width:100%;height:100%;object-fit:contain}
.main{display:none;width:100%;height:100vh;background:white}
li{list-style:none}
.box{width:10rem;height:10rem;position:relative;margin:0 auto;top:calc(50vh - 5rem);-webkit-transform-style:preserve-3d;-webkit-transform:rotateX(13deg);-webkit-animation:move 5s linear infinite}
.min{width:2rem;height:2rem;position:absolute;left:4rem;top:4rem;-webkit-transform-style:preserve-3d}
.min li{width:2rem;height:2rem;position:absolute;left:0;top:0}
.min li:nth-child(1){background:rgba(0,0,0,.3) url(/imgs/dapp/eth.svg) no-repeat center center / 80% 80%;-webkit-transform:translateZ(1rem)}
.min li:nth-child(2){background:rgba(0,0,0,.3) url(/imgs/dapp/trx.svg) no-repeat center center / 80% 80%;-webkit-transform:rotateX(180deg) translateZ(1rem)}
.min li:nth-child(3){background:rgba(0,0,0,.3) url(/imgs/dapp/usdt.svg) no-repeat center center / 80% 80%;-webkit-transform:rotateX(-90deg) translateZ(1rem)}
.min li:nth-child(4){background:rgba(0,0,0,.3) url(/imgs/dapp/btc.svg) no-repeat center center / 80% 80%;-webkit-transform:rotateX(90deg) translateZ(1rem)}
.min li:nth-child(5){background:rgba(0,0,0,.3) url(/imgs/dapp/doge.svg) no-repeat center center / 80% 80%;-webkit-transform:rotateY(-90deg) translateZ(1rem)}
.min li:nth-child(6){background:rgba(0,0,0,.3) url(/imgs/dapp/ltc.svg) no-repeat center center / 80% 80%;-webkit-transform:rotateY(90deg) translateZ(1rem)}
.max{width:4rem;height:4rem;position:absolute;left:3rem;top:3rem;-webkit-transform-style:preserve-3d}
.max li{width:4rem;height:4rem;background:#fff;border:1px solid #ccc;position:absolute;left:0;top:0;opacity:.2;-webkit-transition:all 1s ease}
.max li:nth-child(1){-webkit-transform:translateZ(2rem)}
.max li:nth-child(2){-webkit-transform:rotateX(180deg) translateZ(2rem)}
.max li:nth-child(3){-webkit-transform:rotateX(-90deg) translateZ(2rem)}
.max li:nth-child(4){-webkit-transform:rotateX(90deg) translateZ(2rem)}
.max li:nth-child(5){-webkit-transform:rotateY(-90deg) translateZ(2rem)}
.max li:nth-child(6){-webkit-transform:rotateY(90deg) translateZ(2rem)}
.box:hover ol li:nth-child(1){-webkit-transform:translateZ(5rem)}
.box:hover ol li:nth-child(2){-webkit-transform:rotateX(180deg) translateZ(5rem)}
.box:hover ol li:nth-child(3){-webkit-transform:rotateX(-90deg) translateZ(5rem)}
.box:hover ol li:nth-child(4){-webkit-transform:rotateX(90deg) translateZ(5rem)}
.box:hover ol li:nth-child(5){-webkit-transform:rotateY(-90deg) translateZ(5rem)}
.box:hover ol li:nth-child(6){-webkit-transform:rotateY(90deg) translateZ(5rem)}
@keyframes move{0%{-webkit-transform:rotateX(13deg) rotateY(0)}100%{-webkit-transform:rotateX(13deg) rotateY(360deg)}}