/*#ifdef H5*/
body{
	color: #999;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
	font-size: 28rpx;
	background: #FAFAFA;
}
/*#endif*/

.status_bar{
	height: var(--status-bar-height);
	width: 100%;
	visibility: hidden;
}

.loading_box{
	padding: 90rpx 0;
}
.empty_box{
	padding: 30rpx 0;
	font-size: 24rpx;
	text-align: center;
}
.empty_box .title{margin: 30rpx 0 0 0;}

.loadmore_box{
	padding: 15rpx 0;
}

.u-form-item__body__right__message{margin-left: 0!important;}
.u-line-progress{border-radius: 0!important;}
.u-line-progress__background{border-radius: 0!important;}